AI-ADAPT/Cours/XR/exe.zip
IAR/Cours/Cours 2025 - introduction.pdf
ADL/
AI-ADAPT/AI-ADAPT.zip
AI-ADAPT/Cours/Apprentissage supervisé/ApprentissageSupervisé.ipynb
AI-ADAPT/Cours/Données textuelles/ai-adapt-text-tp.ipynb
AI-ADAPT/Cours/Multimodal AI/multimodal_pipeline.py
AI-ADAPT/Projet/
AI-ADAPT/ViPer.pptx
AI-ADAPT/vEyePer/
DEEP-L/
HAII/AI-Detection-Extension-main/
HAII/HAII.zip
HAII/HAII_DupontDupond_v0.pdf
HAII/HAII_Template_v0.docx
HAII/Projet/
IAR/IAR - Liste des projets 2025-2026.pdf
IAR/NeurIPS-2021-tactical-optimism-and-pessimism-for-deep-reinforcement-learning-Paper.pdf
IAR/Projet IAR/
IAR/TME Imitation Learning/
IAR/TME Navigation Strategies/
IAR/TME Optimism/
IAR/TP/
IAR/desktop.ini
IAR/mujoco/
IAR/top-study/
MAOA/Projet 2/
MAOA/Projet/
MAOA/report/
MAOA/results/
OIP/
RDFIA/
Representation Learning MVA/